html, body {
    height: 100%;
}
body > .wrapper {
    height: auto;
    min-height: 100%;
}
body > .wrapper > .page-content {
    height: auto;
    min-height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
}

.logo-brand.primary-color a {
    color: #fff;
    text-decoration: none !important;
    display: block;
    line-height: 1;
    padding: 20px 0;
    text-align: center;
}

.map-wrapper {
    position: absolute;
    top: 0;
    padding-left: 250px;
    width: 100%;
    height: 100%;
    -webkit-transition:All 0.3s ease;
    -moz-transition:All 0.3s ease;
    -o-transition:All 0.3s ease;
}
body > .wrapper > .page-content.toggle .map-wrapper {
    padding-left: 0;
}
#map {
    width: 100%;
    height: 100%;    
}

.sidebar-menu li .submenu label {
    color: #c6fff1;
}