<div class="sidebar-left sidebar-nicescroller primary-color">
    <ul>
        <li>
            <label for="date-from">From:</label>
            <input type="date" ui-date ui-date-format="dd/MM/yyyy" id="date-from" ng-model="dateFrom" ng-change="reloadCrimesData()">
            <label for="date-to">To:</label>
            <input type="date" ui-date ui-date-format="dd/MM/yyyy" id="date-to" ng-model="dateTo" ng-change="reloadCrimesData()">
        </li>
    </ul>
    <span>Райони:</span>
    <ul ng-repeat="region in regions">
        <li>
            <label>
                <input type="checkbox" ng-model="region.selected"/>{{ region.region.name }}</label>
        </li>
    </ul>
    <span>Категорії</span>
    <ul ng-repeat="category in categories">
      <li>
        <label>
          <input type="checkbox" ng-model="category.selected"/>{{ category.title }}</label>
      </li>
    </ul>
</div>
